* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* img {
    max-width: 300px;
    height: auto;
} */

body {
    min-height: 100vh;
}

header, footer {
    background-color: #1f2937;
    color: white;
    padding: 30px 100px;
   

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    max-width: 100px;
    max-height: auto;
    border-radius: 50%;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

.hero-left {
   width: 50%; 
}

.hero-left > h1, p {
    padding-bottom: 12px;
}

button {
    background-color: #3882f6;
    padding: 5px 20px;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    color: white;
    font-weight: bold;
}

.hero-img {
    max-width: 100%;
    height: auto;
    display: flex;

}

.hero-img > img {
    width: 300px;
    height: auto;
}

.section1 {
    text-align: center;
}


.sec1-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-top: 36px;
}



.section-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    flex-wrap: wrap;
    
}

.icons {
    max-width: 150px;
    height: auto;
    text-align: center;
    padding-bottom: 10px;
}

.section2 {
    padding: 80px 100px;
    background-color: #e5e7eb;

}

.quote {
    text-align: left;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    padding-bottom: 2%;
}

.quote-credit {
    text-align: left;
    text-align: right;
    font-weight: bold;
    padding: 0;
}

.section3 {
    background-color: #3882f6;
    margin: 60px;
    padding: 30px 80px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.main-cta, .cta2 {
    padding: 0;
}

.main-cta {
    font-weight: bold;
}

.sec3-btn {
    border: 1px solid white;
}

footer {
    text-align: center;
}